@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --font-title: "Fraunces", serif;
  --font-text: "Barlow", sans-serif;
  --grayish-blue: hsl(210, 4%, 67%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-text);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #3ebfff;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

header .hero {
  background: url("../images/desktop/image-header.jpg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 400px;
}

nav ul li a {
  color: white;
  margin-left: 40px;
  font-size: 16px;
}

nav ul li:last-of-type a {
  text-transform: uppercase;
  font-family: var(--font-title);
  margin-left: 50px;
  font-size: 15px;
  color: #333;
  background-color: white;
  padding: 15px 24px;
  border-radius: 25px;
}

.hero h2 {
  color: white;
  font-size: 46px;
  margin-top: 5%;
  letter-spacing: 8px;
  font-weight: 900;
  text-transform: uppercase;
}

.cta__section,
.services__section {
  width: 100%;
  display: flex;
}

.cta__section div,
.services__section div {
  width: 50%;
}

.cta__section--wrapper {
  margin: 120px auto;
  max-width: 400px;
}

.cta__section--wrapper h3 {
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 24px;
}

.cta__section--wrapper p {
  color: var(--dark-grayish-blue);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 24px;
}

.cta__section--wrapper a {
  color: var(--very-dark-desaturated-blue);
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-title);
  font-weight: 900;
  text-decoration: underline;
}

.egg__bg {
  background-image: url("../images/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffd302;
  background-size: contain;
}

.cup__bg {
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #ff806f;
  background-size: contain;
}

.graphic__section {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #a1decf;
  height: 800px;
}
