@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --font-title: "Fraunces", serif;
  --font-text: "Barlow", sans-serif;
  --grayish-blue: hsl(210, 4%, 67%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-text);
  font-size: 18px;
  color: var(--dark-grayish-blue);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

/********** NAV SECTION **********/

header {
  background-color: #3ebfff;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

nav ul {
  display: none;
}

nav ul li a {
  color: white;
  margin-left: 40px;
  font-size: 16px;
}

nav ul li:last-of-type a {
  text-transform: uppercase;
  font-family: var(--font-title);
  margin-left: 50px;
  font-size: 15px;
  color: #333;
  background-color: white;
  padding: 15px 24px;
  border-radius: 25px;
}

/********** HERO SECTION **********/

header .hero {
  background: url("../images/desktop/image-header.jpg");
  background-position: bottom;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.hero h2 {
  color: white;
  font-size: 36px;
  margin-top: 15%;
  letter-spacing: 8px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/********** CTA SECTION **********/

.cta__section {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr 2fr 3fr;
  grid-template-areas:
    "top"
    "bottom";
}

.top {
  grid-area: top;
}

.cta__section--wrapper {
  max-width: 90%;
  text-align: center;
  margin: 60px auto;
  width: 100%;
}

.cta__section--wrapper h3 {
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 24px;
}

.cta__section--wrapper p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 24px;
}

.button {
  position: relative;
  color: var(--very-dark-desaturated-blue);
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-title);
  font-weight: 900;
}

.button__underline--yellow::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -6px;
  width: 110%;
  height: 10px;
  border-radius: 15px;
  background-color: rgba(249, 212, 0, 0.3);
  z-index: -1;
}

.button__underline--red::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -6px;
  width: 110%;
  height: 10px;
  border-radius: 15px;
  background-color: rgba(254, 120, 102, 0.3);
  z-index: -1;
}

.egg__bg {
  background-image: url("../images/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd302;
  background-size: cover;
  width: 100%;
}

.cup__bg {
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff806f;
  background-size: cover;
  font-size: 0;
}

/********** SERVICE SECTION **********/

.services__section {
  display: grid;
}

.container.services__section {
  width: 100%;
}

.graphic__section {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: top;
  background-size: cover;
  background-color: #8ed5c7;
  height: 475px;
  position: relative;
}

.photography__section {
  background-position: top;
  background-size: cover;
  background-color: #5eccff;
  height: 475px;
  position: relative;
  background-image: url("../images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
}

.services__section--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.graphic__section .services__section--wrapper h4 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 24px;
  color: var(--dark-desaturated-cyan);
}

.graphic__section .services__section--wrapper p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--dark-desaturated-cyan);
  text-align: center;
}

.photography__section .services__section--wrapper h4 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 24px;
  color: var(--dark-blue);
}

.photography__section .services__section--wrapper p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--dark-blue);
  text-align: center;
}

/********** CLIENT SECTION **********/

.client__section {
  padding: 60px 0;
}

.client__section--wrapper {
  display: grid;
}

.client__section--testimonial {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.client__section--testimonial:last-child {
  margin-bottom: 0px;
}

.client__section h3 {
  text-align: center;
  margin-bottom: 64px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 16px;
}

.client__section--testimonial img {
  align-self: center;
  max-width: 90px;
  border-radius: 100%;
}

.client__section--testimonial-text {
  text-align: center;
  margin: 54px 0;
  color: var(--very-dark-desaturated-blue);
}

.client__section--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.client__section--description p {
  margin: 0 0 14px 0;
}

.client__section--description-name {
  font-family: var(--font-title);
  color: var(--very-dark-desaturated-blue);
  font-size: 20px;
}

.client__section--description-charge {
  font-size: 16px;
}

/********** WORKS **********/

.works__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px 212px;
}

.container.works__section {
  width: 100%;
}

.work {
  font-size: 0;
}

.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/********** FOOTER **********/

footer {
  background-color: #90d4c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

footer svg {
  margin-bottom: 30px;
}

footer svg path {
  fill: var(--dark-moderate-cyan);
}

.footer__list--menu {
  width: 80%;
  max-width: 400px;
}

.footer__list--menu li {
  color: var(--dark-moderate-cyan);
  font-size: 16px;
  margin-bottom: 60px;
}

.footer__list--social {
  width: 50%;
  max-width: 250px;
}

.footer__list--social li {
  color: var(--dark-moderate-cyan);
  margin-bottom: 30px;
}
